body {
	font-family: 'Roboto', sans-serif;
	color: #4D5656;

	max-width: 414px;
	min-width: 320px;
	margin: 0;
	background-color: #F8F9F9;
}

/*Artwork Name*/
h1 {
  font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 700;
  text-align: center;

  margin-top: 0px;
	margin-bottom: 40px;

  animation: fadeIn 3s;
}

/*Artist Name*/
h2  {
	font-size: 12px;
	font-weight: 300;
	text-align: center;

  padding-top: 0.5vh;
  margin-bottom: 1vh;

  animation: fadeIn 5s;
}

p {
	font-size: 15px;
	line-height: 20px;
	font-weight: 100;
}

a {
  color: black;
  z-index: 100;
  text-decoration: none;
}

.welcome_text {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  margin-top: 10vh;
  margin-bottom: 12.5vh;
}

.exit {
  position: fixed;
  top: 1vh;
  right: 1vh;
  z-index: 1000;

} 

.exit_icon {
  width: 25px;
  height: 25px;
}

.directions_button {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;

  position: fixed; 
  top: 1vh;
  left: 1vh;
  z-index: 100;

  padding: 1.5vw;

  border-style: solid; 
  border-width: 2px;
  border-radius: 5px;
  border-color: white;
}

.iso_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
}

.body_text {
  background-color: #F8F9F9;
  /*box-shadow: 10px 0px 5px black;*/

  width: 100vw;
  height: auto;
  padding-top: 1vh;

  position: relative;
  top: 80vh;
  z-index: 1000;
}

.locations {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
  height: auto;
}

.instruction_number {
  opacity: 0;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid black;
  width: 12px;
  padding-top: 1px;
}

.number {
  position: absolute;
  top: 4vh;
  left: 3vw;
  margin: 0;
  font-size: 150px;
  font-weight: 700;
  color: #ECF0F1;
}

.tour_text {
	position: relative;
	opacity: 0;
}

.instruction_container {
  position: relative;
  left: -5px;
  margin-bottom: 15vh;
  overflow: hidden;
}

.lInstruction {
  font-family: 'Playfair Display', serif;
	display: block;
  margin-bottom: 15px;
  top: 1vh;
  left: 1vw;
	width: 300px;
	font-size: 26px;
	font-weight: 700;
}

.rInstruction {
  font-family: 'Playfair Display', serif;
  display: block;
  margin-top: 0;
  left: 1vw;
  width: 300px;
  font-size: 26px;
  font-weight: 700;
}

.get_more_info {
  padding-left: 5px;
  text-decoration: underline;
}

.info_drawer {
  width: 100%;
  overflow: hidden;
}

.bodyVisible {
  padding-left: 5px;
  position: absolute;
  top: 0;
}

.open_drawer {
  height: auto;
}

.p1 {
  display: block;
}

.i1 {
  display: block;
}

.window {
  width:100vw;
  height: 200px;
}

.quick_facts {
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow: hidden;
}

.grey_box {
  padding-top: 2vh;
  padding-bottom: 0.5vh;
  width: 100vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  background-color: #ECF0F1;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.fadeIn {
  opacity: 0;
}

.animation-element.fadeIn.in-view {
  animation: fadeIn 3s;
  opacity: 1;
}

/*animation element sliding left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#popup {
	font-weight: 400;
	color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	overflow: hidden;
	position: absolute;
    background-color: #fefefe;
    left: 10vw;
    top: 15vh;
	padding: 20px;
    width: 70vw; /* Could be more or less, depending on screen size */
}

.caption_text {
	font-size: 12px;
	font-weight: 100;
	line-height: 12px;
}

#caption1 {
  display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.next_header {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.next {
	width: 100vw;
	position: relative;
}

.next_prev {
	width: 100vw;
	height: 33vh;
	filter: grayscale(100%) contrast(60%);
}

.next_animated {
	transition: all 3s ease;
	filter: grayscale(0%) contrast(100%);
}

.next_display_text {
	color: white;

	position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
    
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.modal {
  z-index:3000;
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4)
}

.modal-content { 
  margin:auto;
  background-color:#fff;
  position:absolute;
  top: 40vh;
  padding:0;
  outline:0;
  width:80vw;
}


.animate-opacity {
  animation:opac 0.8s
}

@keyframes opac {
  from { opacity:0 } 
  to { opacity:1 }
}

.img1 {
  opacity: 0.5;
}

